<mat-list>
        <h2 mat-subheader>Info:</h2>
        <mat-list-item>
                <h4 mat-line>{{info.problemId}}</h4>
                <p mat-line>Problem ID</p>
        </mat-list-item>
        <mat-list-item>
                <h4 mat-line>{{info.type}}</h4>
                <p mat-line>Type</p>
        </mat-list-item>
        <mat-list-item>
                <h4 mat-line>{{info.outerMessage}}</h4>
                <p mat-line>Outer message</p>
        </mat-list-item>
        <mat-list-item>
                <h4 mat-line>{{info.innermostMessage}} [ms]</h4>
                <p mat-line>Innermost message</p>
        </mat-list-item>
        <mat-list-item>
                <h4 mat-line>{{info.details}}</h4>
                <p mat-line>Details</p>
        </mat-list-item>
</mat-list>