.mat-list .mat-subheader {
    font-weight: bolder;
}

.mat-list .mat-list-item p.mat-line {
    color: rgba(255,255,255,.7);
    font-size: smaller;
}

.mat-list .mat-list-item .mat-list-item-content {
    height: initial;
}

.mat-list .mat-list-item .mat-line {
    white-space: initial;
    overflow: visible;
    text-overflow: initial;

}
.mat-list .mat-list-item.mat-2-line {
    min-height: 40px;
    height: initial;
}

