<mat-list>
        <h2 mat-subheader>Info:</h2>
        <mat-list-item>
                <h4 mat-line>{{info.name}}</h4>
                <p mat-line>Name</p>
        </mat-list-item>
        <mat-list-item>
                <h4 mat-line>{{info.url}}</h4>
                <p mat-line>URL</p>
        </mat-list-item>
        <mat-list-item>
                <h4 mat-line>{{info.success}}</h4>
                <p mat-line>Success?</p>
        </mat-list-item>
        <mat-list-item>
                <h4 mat-line>{{info.duration}} [s]</h4>
                <p mat-line>Duration</p>
        </mat-list-item>
        <mat-list-item>
                <h4 mat-line>{{info.resultCode}}</h4>
                <p mat-line>Result code</p>
        </mat-list-item>
</mat-list>